/* Your styles here */
body {
/*    text-align: center;*/
    font-family: 'Open Sans', 'Montserrat', sans-serif;

}

.desktop-view{ 
    width: 100%;
    align-items: center;
}


header {
    padding: 2em;
    background-color: black;
    align: center;
}

header img {
    padding-left: 1em;
    width: 15%;
}


.section1 {
    text-align: center;
    background-image: url("/Esercizio/images/banner.jpg");
    background-position: center top;
    background-size: 100% auto;
}

footer,
.section3 *,
.section2 *,
.section1 * {
    padding: 1em 0;
}
.section1 button {
    font-weight: bold;
    border: none;
    padding: 1em;
    font-size: 1em;
    background-color: #ed6e59;
    color: white;
    border-radius: 10px;
}

footer p,
.section4 p,
.section3 p,
.section2 p,
.section1 p {
    font-size: 1.5em;
}

.section1 h1 {
    font-weight: bold;

    font-size: 2.5em;
    color: #3394c9;
}
.section1 p {
    padding-right: 10rem;
    padding-left: 10rem;
}

/* più "semantico" rispetto a button */
.section1 :first-child {
    padding: 0;
    padding-top: 14rem;
}
.section1 :last-child {
    margin-bottom: 14rem;
}

.section2 {
    /* potrebbero andare in un unica proprietà padding ma lo lascio così per convenienza */
    padding: 15%;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
    background-color: white;
}

.section2 th {
    padding-right: 2em;
    padding-left: 2em;
}
.section2-image {
    padding-right: 3rem;
}
.section2-image img {
    border-radius: 50%;
    /* https://stackoverflow.com/questions/10540446/how-do-i-keep-two-divs-on-the-same-line */
    display: inline;
    float: left; 
}

.sottosezione h3 {
    font-weight: bold;

    font-size: 2em;
    color: #3394c9;
}
th {
    text-align: left;
    vertical-align: top;
    font-size: 0.7em;
}

.section3 {
    background-color: #ee2200; 
    color: white;
    text-align: center;
}
.section3 h1 {
    font-weight: bold;
    font-size: 2.5em;
}
.section3 h2 {
    font-size: 1.5em;
    padding-bottom: 0.25em;
}
.section3 h3 {
    padding-top: 0.25em;
    font-size: 1em;
}
.section3 :first-child {
    padding-top: 6rem;
}
.section3 :last-child {
    padding-bottom: 6rem;
}

.section4 {
    padding: 7rem;
}
.section4 .subsection {
       max-width: 33vw;

       display: table-cell;
       vertical-align: top;
}

.section4 .subsection .contenitore {
    padding: 3rem;
    vertical-align: top;
    border: solid 1px gray;
    margin: 1.5rem;
    padding: 0;
    height: 100%; 
    text-align: center;
}

.section4 .subsection .contenitore img {
    width: 100%;
    height: 100%;
}


.section4 .subsection .contenitore h3 {
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.5em;
    color: #3394c9;
}
.section4 .subsection .contenitore p {
    font-size: 1.25em;
    padding: 1em;
}
footer {
    background-color: #22aacc;
    color: white;
}
footer h1 {
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    font-size: 4em;
    font-weight: bold;
}
footer ul{
    /* https://stackoverflow.com/questions/36350948/removing-black-dots-from-li-and-ul */
    list-style-type: none;
    padding-bottom: 2em;
    font-size: 0.75em;

}
footer li {
   text-align: left;
   font-size: 2em;
   padding-top: 0.5em;
}
footer p {
    font-size: 1em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
footer p a {
    color: white;
}
footer .centrati {
    padding-left: 38%;
}

footer hr {
    border: 1px solid white;
    width: 50%;
    margin: 0;
}

footer hr {
    padding-left: 0%;
}
footer .copyright {
    text-align: center;
}
footer .item {
    margin-left: 1em;
    color: white;
}
