/* Your styles here */
body {
    text-align: center;
    font-family: 'Open Sans', 'Montserrat', sans-serif;

}


.mobile-view{ 
    width: 100%;
    align-items: center;
}


header {
    padding: 6em 0;
    background-color: black;
    align: center;
}



.section1 {
    padding: 6em 0;
    /* https://stackoverflow.com/questions/11099930/100-width-background-image-with-an-auto-height */
    background-image: url("/Esercizio/images/banner.jpg");
    background-position: center top;
    background-size: 100% auto;
}

footer,
.section3 *,
.section2 *,
.section1 * {
    padding: 1em 0;
}
.section1 button {
    font-weight: bold;
    border: none;
    padding: 1em;
    font-size: 2em;
    background-color: #ed6e59;
    color: white;
    border-radius: 10px;
}

footer p,
.section4 p,
.section3 p,
.section2 p,
.section1 p {
    font-size: 2.5em;
/*    text-align: left; */
    padding-left: 1em;
    padding-right: 1em;
}

.section1 h1 {
    /* https://stackoverflow.com/questions/12591453/bold-font-in-h1-h2-h3-titles-92590 */
    font-weight: bold;

    font-size: 4em;
    color: #3394c9;
}

.section2 {
    padding-top: 3em;
    padding-bottom: 5em;
    background-color: white;
}

.section4 h3,
.section2 h3 {
    font-weight: bold;
    font-size: 3em;
    color: #3394c9;
}
.section2 img{
    border-radius: 50%;
    width: 65%;
}

.section3 {
    background-color: #ee2200; 
    color: white;
}
.section3 h1 {
    font-weight: bold;

    font-size: 4em;
}
.section3 h2{
    padding-top: 2em;
    padding-bottom: 0.25em;
    font-size: 3.5em;
}
.section3 h3{
    padding-top: 0.25em;
    padding-bottom: 2em;
    font-size: 2em;
}

.section4 {
}

/* imagine h3 p */
.subsection {
    border: 1px solid gray;
    border-radius: 10px;
    margin: 3em;
}

.subsection img {
    width: 100%;
}

.subsection h3 {
    padding: 2em;
}

.subsection p {
    padding: 1em;
    padding-bottom: 2em;
}


footer {
    background-color: #22aacc;
    color: white;
}
footer h1 {
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    font-size: 4em;
    font-weight: bold;
}
footer hr {
    width: 60%;
}
footer ul{
    margin-left: 20%;
    /* https://stackoverflow.com/questions/36350948/removing-black-dots-from-li-and-ul */
    text-align: center;
    list-style-type: none;

}
footer li {
   text-align: left;
   font-size: 2.5em; 
   padding-top: 0.5em;
}
footer p {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
footer a {
    color: white;
}
